//log---

crate react app

display a user join and chat file name 

create a server

realtime msging start

creatig rauter

server is up an running

connecting user and disconnecting user

creating front end part for client





